.url{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;


}
.direcciones{
    display: flex;
    align-items: center;
}
.direcprincipal{
    font-family: 'Combo', cursive;
    color:  #9ab5d2;
    letter-spacing: 0.5rem;
    padding-right: 0.5rem;
    margin-top: -1rem;
}
.direcciones>h2{
    font-family: var(--Tipografiatitulos);
    color: var(--colortipografiasecundiaria);
    margin-top: 0.01rem;
    font-weight: 300;
    font-size: 1.2rem;
}
.iconodirec{
    color: var( --colortipografiaprimaria);
    margin-top: -1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

@media(min-width:500px) and (max-width:700px){
    .direcprincipal{
        font-size: 1.2rem;
    }
    .iconodirec{
        font-size: 1rem;
    }
    .direcciones>h2{
        font-size: 1rem;
    }
}
@media(max-width:499px){
    .direcprincipal{
        font-size: 1rem;
    }
    .iconodirec{
        font-size: 0.8rem;
    }
    .direcciones>h2{
        font-size: 0.8rem;
    }
}