.perfil{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    margin-right: 8rem ;
    margin-left: 8rem;

}
.textoperfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15rem;
    margin-right: 1rem;
}

.nombre{
    font-family: 'Gentium Book Plus', serif;
    font-size: 5rem;
    position: absolute;
    z-index: 2;
    padding-top: 3rem;
    color: var(--colortipografiaprimaria);
  
}
.apellido{
    font-family: 'Gentium Book Plus', serif;
    font-size: 5rem;
    position: absolute;
    z-index: 2;
    line-height: 15rem;
    padding-top: 3rem;
    color: var(--colortipografiaprimaria);


}

.ing{
    font-family: var(--Tipografiatitulos);
    color: var(--colortipografiasecundiaria);
    font-weight: 300;
    font-size: 1rem;
    margin-top: -0.2rem;
}

.foto{
    border-radius: 78% 22% 71% 29% / 44% 67% 33% 56%  ;
    transition: border-radius 500ms ease-in-out;
    filter: grayscale(0.8); 
    max-width: 600px;
    width: 100%;
    height: 100%;
} 



.foto:hover{
    border-radius: 64% 36% 23% 77% / 71% 26% 74% 29% ;
}

.letra{
    color: #242424;
    transition: color 500ms ease-in-out;
}
.letra:hover{
    color:  #9ab5d2;
    
}

.correo{
    display: flex;
    align-items: center;
    padding-top: 3rem;
}
.telefono{
    display: flex;
    align-items: center;
}
.iconoperfil{
    padding-right: 1rem;
    font-size: 1.5rem;
    color: var( --colortipografiaprimaria);
}
.DirecContacto{
    font-family: var(--Tipografiatitulos);
    color: var(--colortipografiasecundiaria);
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
}
@media(min-width:1600px) and (max-width:1680px) {

    .nombre{
        font-size: 6rem;
        padding-top: 0rem;
        padding-left: 4.5rem;
      
    }
    .apellido{
        font-size: 6rem;
        padding-left: 4.5rem;
    }

    .ing{
        font-size: 1.2rem;
    } 
    .letra{
        color:  #242424;
    }
    .iconoperfil{
        padding-right: 0rem;
        font-size: 2rem;
    }
    .DirecContacto{
        font-size: 1.6rem;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
    
 
}

@media(min-width:1500px) and (max-width:1599px) {

    .nombre{
        font-size: 6rem;
        padding-top: 0rem;
        padding-left: 3.2rem;
      
    }
    .apellido{
        font-size: 6rem;
        padding-left: 3.2rem;
    }

    .ing{
        font-size: 1.2rem;
        margin-left: 1rem;
    } 
    .letra{
        color:  #242424;
    }
    .iconoperfil{
        padding-right: 0rem;
        font-size: 2rem;
    }
    .DirecContacto{
        font-size: 1.6rem;
        padding-left: 0.5rem;
        padding-top: 0.5rem;
    }
    
 
}

@media(min-width:1400px) and (max-width:1499px) {

    .nombre{
        font-size: 6rem;
        padding-top: 0rem;
        padding-left: 0rem;
      
    }
    .apellido{
        font-size: 6rem;
        padding-left: 0rem;
    }

    .ing{
        font-size: 1.2rem;
    } 
    .iconoperfil{
        font-size: 1.8rem;
    }
    .DirecContacto{
        font-size: 1.4rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }
}

@media(min-width:1320px) and (max-width:1399px) {
    .foto{
        max-width: 550px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        padding-left: 1.5rem;
      
    }
    .apellido{
        padding-left: 1.5rem;
    }
}


@media(min-width:1235px) and (max-width:1319px) {
    .foto{
        max-width: 550px;
        width: 80%;
        height: 80%;
    }  
}

@media(min-width:1180px) and (max-width:1234px) {
    .foto{
        max-width: 480px;
        width: 80%;
        height: 80%;
    }  

    .nombre{
        font-size: 4.8rem;
        padding-top: -1rem; 
    }
    .apellido{
        font-size: 4.8rem;
    }
    .textoperfil{
        margin-bottom: -2rem;
    }
}
@media(min-width:1140px) and (max-width:1179px) {
    .foto{
        max-width: 470px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 4.5rem;
        padding-top: -1rem; 
    }
    .apellido{
        font-size: 4.5rem;
    }
    .ing{
        font-size: 0.9rem;
    } 
}
@media(min-width:1100px) and (max-width:1139px) {
    .foto{
        max-width: 460px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 4.2rem;
        margin-top: -1rem;
    }
    .apellido{
        font-size: 4.2rem;
        margin-top: -1rem;
    }
    .ing{
        font-size: 0.9rem;
    }
    .textoperfil{
        margin-top: -1rem;
    }
}

@media(min-width:1075px) and (max-width:1099px) {
    .foto{
        max-width: 450px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 4rem;
        margin-top: 0.5rem;
    }
    .apellido{
        font-size: 4rem;
        margin-top: -1rem;
    }
    .ing{
        font-size: 0.90rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
}


@media(min-width:1040px) and (max-width:1074px) {
    .foto{
        max-width: 440px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 3.8rem;
        margin-top: 0rem;
    }
    .apellido{
        font-size: 3.8rem;
        margin-top: -1rem;
    }
    .ing{
        font-size: 0.90rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
}


@media(min-width:1000px) and (max-width:1039px) {
    .foto{
        max-width: 420px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 3.6rem;
        margin-top: 1rem;
    }
    .apellido{
        font-size: 3.6rem;
        margin-top: -1rem;
    }
    .ing{
        font-size: 0.85rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
}

@media(min-width:985px) and (max-width:999px) {
    .foto{
        max-width: 410px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 3.45rem;
        margin-top: 1rem;
    }
    .apellido{
        font-size: 3.45rem;
        margin-top: -1rem;
    }
    .ing{
        font-size: 0.85rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
}
@media(min-width:960px) and (max-width:984px) {
    .foto{
        max-width: 405px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 3.3rem;
        margin-top: 0rem;
        
    }
    .apellido{
        font-size: 3.3rem;
        margin-top: -1.4rem;

    }
    .ing{
        font-size: 0.85rem;
    }
    .textoperfil{
        margin-top: -4rem;
    }
    .DirecContacto{
        font-size: 1rem;
    }
}

@media(min-width:943px) and (max-width:959px) {
    .foto{
        max-width: 400px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 3.2rem;
        margin-top: 0rem;
    }
    .apellido{
        font-size: 3.2rem;
        margin-top: -1.7rem;
    }
    .ing{
        font-size: 0.8rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
    .DirecContacto{
        font-size: 1rem;
    }
}


@media(min-width:910px) and (max-width:942px) {
    .foto{
        max-width: 400px;
        width: 80%;
        height: 80%;
    }  
    .nombre{
        font-size: 3rem;
        margin-top: 0.8rem;
    }
    .apellido{
        font-size: 3rem;
        margin-top: -2rem;
    }
    .ing{
        font-size: 0.8rem;
    }
    .textoperfil{
        margin-top: -4rem;
    }
    .DirecContacto{
        font-size: 1rem;
    }
}

@media(min-width:890px) and (max-width:909px) {
    .foto{
        max-width: 395px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 3.1rem;
        margin-top: 4rem;

    }
    .apellido{
        font-size: 3.1rem;
        margin-top: -5rem;
    }
    .ing{
        font-size: 0.8rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
    .DirecContacto{
        font-size: 1rem;
    }
}
@media(min-width:650px) and (max-width:889px) {
    .foto{
        max-width: 375px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 2.8rem;
        margin-top: 4rem;

    }
    .apellido{
        font-size: 2.8rem;
        margin-top: -4rem;
    }
    .ing{
        font-size: 0.8rem;
    }
    .textoperfil{
        margin-top: -3rem;
    }
    .DirecContacto{
        font-size: 1rem;
    }
}


@media(min-width:573px) and (max-width:649px) {
    .foto{
        max-width: 360px;
        width: 100%;
        height: 100%;
    }  
    .nombre{
        font-size: 2.5rem;
        margin-top: 4rem;

    }
    .apellido{
        font-size: 2.5rem;
        margin-top: -4rem;
    }
    .ing{
        font-size: 0.75rem;
    }
    .textoperfil{
        margin-top: -4rem;
    }
    .DirecContacto{
        font-size: 0.90rem;

    }
    .iconoperfil{
        font-size: 1rem;

    }
}

@media(min-width:443px) and (max-width:572px) {
    .foto{
        min-width:250px;
    }
    .nombre{
        font-size: 2.2rem;
        margin-top: 2rem;

    }
    .apellido{
        font-size: 2.2rem;
        margin-top: -6rem;
    }
    .ing{
        font-size: 0.7rem;
    }
    .textoperfil{
        margin-top: -6rem;
    }
    .DirecContacto{
        font-size: 0.85rem;

    }
    .iconoperfil{
        font-size: 0.95rem;

    }
}

@media(max-width:442px){
    .foto{
        min-width:190px;
    }
    .nombre{
        font-size: 2rem;
        margin-top: 0.5rem;

    }
    .apellido{
        font-size: 2rem;
        margin-top: -7.5rem;
    }
    .ing{
        font-size: 0.65rem;
    }
    .textoperfil{
        margin-top: -8.5rem;
    }
    .DirecContacto{
        font-size: 0.85rem;

    }
    .iconoperfil{
        font-size: 0.95rem;

    }
}
