
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}
.logo{
    display: flex;
    align-items: center;
}

.btnnav1{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #9ab5d2;
    margin-left: 0.3rem;
}
.navlinkmanolike{
    text-decoration: none;
    border: none;
}
.Fotoperfilchica{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    
}

.NombreLink{
    padding-left: 2rem;
    padding-right: 2rem;
} 

.NombreLink>h1{
    font-family: var(--Tipografiatitulos);
    color: var( --colortipografiaprimaria);
}

.NombreLink>h2{
    font-family: var(--Tipografiatitulos);
    color: var( --colortipografiaprimaria);
    font-weight: 200;
    margin-top: -1.5rem;
}

.iconolink{
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.fotouser{
    max-width: 40px;
    border-radius: 100px;
    border: solid white;
}
.Skill{
    background-color: rgba(0,0,0,.3);
    position: fixed;
    margin-top: 15rem;
   /*  bottom: 0;
    left: 0;
    right: 0; */
    width: 40vw;
    height: 40vh;
    display: flex;
    align-items: center;
    
}

@media(max-width: 750px){
    .NombreLink>h1{
        display: none;
        
    }
    .logo{
        margin-top: 1rem ;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .NombreLink>h2{
        padding-top: 1.5rem;
        font-size: 1rem;
        
    }
}